.slip-enter-active,
.slip-leave-active,
.slip-reverse-enter-active,
.slip-reverse-leave-active {
  transition: .3s;
}

.slip-enter,
.slip-leave-to {
  transform: translate3d(100%, 0, 0);
}

.slip-reverse-enter,
.slip-reverse-leave-to {
  transform: translate3d(-100%, 0, 0);
}

.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: all .4s ease-in-out;
}

.fadeIn-enter {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.fadeIn-leave-to {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
